body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body:after {
  content: " ";
  display: block;
  clear: both;
}

header {
  background-color: #eee;
}

footer {
  background-color: #eee;
}

.episodes:after {
  content: " ";
  display: block;
  clear: both;
}

.grid {
  border: 1px solid red;
  background-color: #eee;
}

@media (min-width: 500px) {
  .grid {
    width: 49.53271%;
    float: left;
  }
  .grid:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid:nth-child(2n + 2) {
    margin-left: 50.46729%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 900px) {
  .grid {
    width: 32.71028%;
    float: left;
  }
  .grid:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid:nth-child(3n + 2) {
    margin-left: 33.64486%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(3n + 3) {
    margin-left: 67.28972%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 1200px) {
  .grid {
    width: 24.29907%;
    float: left;
  }
  .grid:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid:nth-child(4n + 2) {
    margin-left: 25.23364%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(4n + 3) {
    margin-left: 50.46729%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(4n + 4) {
    margin-left: 75.70093%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 1200px) {
  .grid {
    width: 11.68224%;
    float: left;
  }
  .grid:nth-child(8n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid:nth-child(8n + 2) {
    margin-left: 12.61682%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(8n + 3) {
    margin-left: 25.23364%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(8n + 4) {
    margin-left: 37.85047%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(8n + 5) {
    margin-left: 50.46729%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(8n + 6) {
    margin-left: 63.08411%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(8n + 7) {
    margin-left: 75.70093%;
    margin-right: -100%;
    clear: none;
  }
  .grid:nth-child(8n + 8) {
    margin-left: 88.31776%;
    margin-right: -100%;
    clear: none;
  }
}

.grid img {
  width: 100%;
  margin: 0 auto;
}
