@import "susy";
@import "breakpoint";

$susy:(
	columns: 12,
	gutters: 1/8,
	gutter-position: after,
);

$sm: 500px;
$md: 900px;
$lg: 1200px;
$xl: 2000px;

body{
	@include container(80%);
}

header{
	background-color: #eee;
}

footer{
	background-color: #eee;
}

.episodes{
	@include susy-clearfix;
}

.grid{
	@include susy-breakpoint($sm){
		@include gallery(6 of 12);
	}
	@include susy-breakpoint($md){
		@include gallery(4 of 12);
	}
	@include susy-breakpoint($lg){
		@include gallery(3 of 12);
	}
	@include susy-breakpoint($lg){
		@include gallery(1.5 of 12);
	}
	
	border: 1px solid red;
	background-color: #eee;
	img{
		width: 100%;
		margin: 0 auto;
	}
}