@import "susy";
@import "breakpoint";

$susy:(
	columns: 12,
	gutters: 1/4,
	gutter-position: inside,
);

$sm: 500px;
$md: 900px;
$lg: 1200px;
$xl: 2000px;

// @include layout(24 1/4 fluid float inside);

@include susy-breakpoint($sm, 2){

}

@include susy-breakpoint($md, 4){
	
}

body{
	@include container(80%);
}


header{
	background-color: grey;
}

footer{
	background-color: black;
}

.episodes{
	display: flex;
}

.episode{
	height: 100px;
	padding: 20px;
}